<div class="row">
    <div class="col-12">
        <h1 class="text-center">Vásárlók listája</h1>
        <div class="col-12">
            <button class="btn btn-block btn-primary" [routerLink]="['create-customer']">
                <i class="fa fa-edit"></i>
                 Új vásárló hozzáadása
            </button>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Név</th>
                    <th>Email</th>
                    <th>Értékelés</th>
                    <th>Cím</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of list$ | async">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.rating }}</td>
                    <td>{{ customer.address }}</td>
                    <td>
                        <button (click)="onDelete(customer.id)" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>